@import '@/styles/var.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: calc(100vh - 100px);
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

body{
    background-color: $background_color;
    font-family: sans-serif;
}

